/* container width  */
.container{
  max-width: 1510px !important;
  width: 98% !important;
}
.no-style-link {
  color: inherit; /* Removes the color */
  text-decoration: none; /* Removes the underline */
}
.no-style-link:hover{
  color: #6ec207 !important;
}

/* Font Family Css */

*{
  font-family: 'Poppins', sans-serif;
}
/* Header Css */
.active {
  color: #6ec207 !important;
}
nav a:hover{
  color: #6ec207 !important;
}

/* Hero section */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

h1 span, h2 span{
  font-family: "PT Serif";
}

.text-custom-success {
  color: #6ec207 !important;
}
.btn-custom-success {
  background-color: #6ec207 !important;  
}
.partner-rewards-btn, .need-help-btn{
  border: 1px solid transparent !important;
}
.partner-rewards-btn:hover, .need-help-btn:hover{
  border-color:#232229 !important; 
  background: none !important;
}
.btn-custom-success:hover{
  background-color: #fff !important;
  color: #000 !important;
}
.btn-light:hover{
  background-color: #6ec207 !important;
  color: white !important;  
}
.bg-custom-dark {
  background-color: #232229 !important;
}
.loc-color {
  color: #22251f;
}
.text-custom-muted {
  color: #117554;
  font-weight: 600; /* Semi-bold */
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.heading{
  font-family: "PT Serif";
  font-size: 50px;
  font-weight: bold;
}

.para1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
}
.dish-wrapper {
  width: 100px;
  height: 100px;
  left: -73px;
  bottom: 24px;
}


.fitness-img {
  cursor: pointer;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.fitness-img:hover {
  transform: scale(1.1);
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); */
}

 /* about section */
.about-section {
  background-color: #1a5632;
  border-radius: 30px;
  position: relative;
  margin-top: 4rem;
  z-index: 1;
}
.logo-content{
  overflow: hidden;
}

.bg-leaf {
  width: 99.87px;
  top: 65%;
  left: 30%;
  opacity: 1.2;
  height: 111.19px;
}

.bg-leaf2 {
  width: 114.37px;
  top: 4%;
  right: 35%;
  opacity: 1.2;
  height: 99px;
}

.circular-text {
  width: 318px;
  height: 262.51px;
  position: relative;
  animation: spin 10s linear infinite;
  background: transparent !important; /* ✅ Forces transparency */
}

.circular-text svg {
  width: 100%;
  height: 100%;
  background: transparent; /* ✅ Ensures SVG background is transparent */
}

.circular-text textPath {
  fill: #2D722A;/* ✅ Apply green text color */
  letter-spacing: 2px; 
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* experties section */
.expertise-section {
  position: relative;
  color: white;
  padding: 147px 0;
}

.background-img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.dish-container {
  position: absolute;
  top: -206px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* .content-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
} */

.health-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;  
}

.health-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.health-icon {
  width: 100px;
  height: 30.57px;
  object-fit: contain;
}

.icon-circle {
  width: 75.88px;
  height: 75.88px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-check-circle {
  color: #5cb85c;
  font-size: 18px;
}

/* rewards section */
.partner-rewards {
  max-width: 1200px;
  margin: auto;
  margin: 120px 0;
}

.rewards-img {
  width: 520px;
  height: 310px;
}

/* why choose section */

.why-choose-tcd ul {
  padding-left: 0;
}

.why-choose-tcd li {
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  color:#626060 ;
  
}

.why-choose-tcd img {
  max-width: 100%;
  border-radius: 10px;
}


i.fa-solid.fa-circle-check {
  font-size: 30px;
  color: #5cb85c;
}

/* blog section */
/* Blog Section */
.blog-card {
  border-radius: 12px;
  border: 2px solid #72c046;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: white;
  position: relative;
}
.blog-card .blog-card-img img{
  border-radius: 28px; 
}
.blog-card-img{
  padding: 3px;
    border-radius: 28px;
    background: linear-gradient(to bottom, #72c046, #ffffff);

}

.blog-card:hover {
  transform: translateY(-5px);
}


/* Positioning badge over image */
.blog-badge {
  background-color: white;
  color: black !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
  border-radius: 50px !important;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  left: 15px;
  font-weight: 600 !important;
  transition: 500ms;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.blog-badge:hover {
  background-color: #6ec207;
  color: #fff !important; 
}

.blog-description {
  font-size: 14px;
  margin-top: 15px;
  font-weight: 600;
  color: #000;
}

.blog-doctor {
  font-weight: bold;
    color: #117554;
    margin-top: 10px;
    text-align: left;
    text-decoration: none;
    transition: 500ms;
}
.blog-doctor:hover {  
    color: #6ec207;    
}


/* app- download section */

.app-download-section {
  background-color: #1A5632;
  border-radius: 20px;
  padding-right: 81px !important;
  padding-left: 81px !important;
  position: relative;
  margin-top: 179px;
}

.text-warning {
  color: #ffcc00 !important;
}

.store-badge {
  width: 203px;
  height: 59px;
  cursor: pointer;
}

.mobile-mockup {
  width: 269px;
  height: 580px !important;
  position: absolute;
  z-index: 2;
  right: 60px;;
  top: -26px;
}

.mobile-mockup1 {
  width: 269px;
  height: 580px !important;
  position: absolute;
  z-index: 2;
  right: 0;
  top: -46px;
}

/* footer section */
.footer {
  background-color: #232229;
  position: relative;
  padding-top: 197px;
  color: white;
}

.footer-wave {
  position: absolute;
  top: -4px; /* Adjust this to move wave down */
  /* top: -120px; */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-wave svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 120px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  /* transform: translate3d(0, 0, 0); */
}

.footer-wave .shape-fill {
  fill:  #6ec207; /* Green color */
}

.footer-content {
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}

.footer-bottom {
  background: #232229;
  color: #ccc;
  font-size: 14px;
  padding: 10px 0;
}

/* // best seen at 1500px or less */
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  top :98px;
  left:0;
  /* background: #015871; */
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


/* Responsive Design*/


/* header mobile css */

.navbar-toggler {
  border: none !important;
  color: #6ec207 !important;
  font-size: 32px !important;
}
button:focus:not(:focus-visible) {
  outline: 0 !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.offcanvas-body > ul li {
  padding: 15px;
  position: relative;
}
.offcanvas-body>ul>li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #E4E4E4;
}
.offcanvas-body ul li a {
  color: #212529bf;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.offcanvas .btn_close {
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
}
.offcanvas .btn_close:focus {
  box-shadow: none;
}
button:focus:not(:focus-visible) {
  outline: 0;
}

/* Our Meals Psge css*/

.our_meals_btn{
  background-color: rgb(246, 248, 250);
  color: rgb(129, 136, 152);
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  white-space: nowrap;
  width: 164px;
  height: 50px;
  justify-content: center;
  border: 1px solid rgb(223, 225, 231);
}

@media (max-width: 991px) {
  
/* Hero section css*/

  .text-custom-muted {    
    font-size: 21px;
  }
  .near-gym-logo{
    margin-left: 27px !important;
  }
/* app- download section */

  .mobile-mockup {    
    left: 50%;
    transform: translateX(-73%);    
}
.mobile-mockup1 {  
  left: 50%; 
  transform: translateX(-50%);    
}
.app-download-section svg{
  display: none;
}
.app-download-section{
  margin-bottom: 441px;
}
.app-download-section {  
  padding-right: 30px !important;
  padding-left: 30px !important;  
  height: 631px;
}
.app-download-section h2, .app-download-section p{
  text-align: center;
}
/* about-section css */

.about-section{
  padding: 50px 0px 50px 40px !important;
}
}

@media (max-width: 768px) {
  .mobile-mockup {
    max-width: 250px;
  }
  .mobile-mockup1 {
    max-width: 250px;
  }
  .main-heading{
    text-align: center;
    font-size: 40px;
  }
  .banner-text{
    font-size: 18px;
    text-align: center;
  }
  header{
    padding: 14px 0 !important;
  }
  .hero-sec{
    margin-top: 90px !important;
  }
  .circular-text {
    width: 170px;
    height: 149.51px;    
    margin-left: auto;
}
.logo-tcd svg{
  height: 100px;
  width: 100px;
}
.logo-tcd{
  right: -14px;

}
.logo-image{
  position: absolute;
  right: 0;
  bottom: 0;
}
.logo-content{
  margin-right: 0 !important;
}
.bg-leaf2 { 
  top: 24px;
  right: 10px;  
  width: 75px;
  height: 64px;
}
.lead {
  font-size: 16px !important;
  font-weight: 500 !important;
  text-align: center;
  line-height: 30px;
}
.bg-leaf {
  width: 68px;
  bottom: 46px;
  left: 0;  
  height: 75px;
}
.logo-content{
  z-index: -1;
}
h2{
  font-size: 30px !important;
  text-align: center;
}


.our-mission-sec p{
  font-size: 16px !important;
  font-weight: 500 !important;
  text-align: center;
  line-height: 30px;
  color: #3F3F3F;

}
.dish-container {
  display: none;
}
.health-grid {
  grid-template-columns: none;
  gap: 20px;
  margin-top: 40px;
}
.expertise-section { 
  padding: 60px 0;
}

.partner-content{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #3F3F3F;
}

.why-choose-tcd li {
  font-size: 16px;  
  line-height: 20px;
  margin-bottom: 22px;
}
.store-badge {
  width: 121px;
  height: 35px;  
}
.app-download-section p{
  font-size: 16px !important; 
}
.footer { 
  padding-top: 110px;  
}
.copy-right-text{
  margin-left:0 !important;
  text-align: center;
}
.about-section {
  padding: 50px 30px !important;
}
.about-section{
  margin: 0;
}
.our-mission-sec{
  margin-top: 50px !important;
}

.partner-rewards {
  
  margin: 50px 0;
}
.app-download-section{
  margin-top: 50px;
}
.app-download-section {
  margin-bottom: 481px;
}
.our-mission-content .our-mission-sec{
  margin-top:0 !important ;
}
.our-mission-content { 
  padding: 50px 0;
}
.correct-diet-p .p1 {
  margin-bottom: 25px;
}
.about-us-content{
  margin-bottom: 50px !important;
}
.our-mission-content .our-mission-text {
  margin-bottom: 25px !important;
}
}


/* about-us-css */
.about-us-hero{
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 120px 0 100px 0;
  margin-top: 65px;
  margin-bottom: 120px;
  }
  .overlay-about-us-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
  .about-us-hero h1{
    font-size: 50px;
    font-weight: bold;
  }
  .about-us-hero span{
    font-size: 50px;
    font-weight: bold;
    color: #69CD01;
  }
  .correct-diet h2{
    font-size: 50px;
    font-weight: 700;
  }
  .correct-diet span{
    color: #69CD01;
  }
  .correct-diet-p{
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 30px;
  }
  .correct-diet-img img{
    border-radius: 20px;
  }
  .correct-diet-p .p1{
   margin-bottom: 40px;
  }
/* our mission */
.our-mission-content{
  background-color: #F6F6F6;
  padding: 88px 0;
}
.our-mission-content .our-mission-text{
  margin-bottom: 40px;
}
.our-mission-content p{
  font-size: 24px;
  font-weight: 500;
}


/* terms and conditions css */
.terms-about{
  margin-bottom: 40px;
}
.terms-about h2{
  font-size: 30px;
  font-weight: bold;
}
.terms-about-p1{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}
.terms-about-p2{
  font-size: 24px;
  font-weight: 500;
}

.terms-about ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.terms-about ul li{
  font-size: 24px;
  font-weight: 500;

}

.acceptance-of-the-terms h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.acceptance-of-the-terms p{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}

.use-of-website h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.use-of-website p{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}
.privacy-policy h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.privacy-policy p{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}
.privacy-policy a{
  text-decoration: none;
}
.subscription {
  margin-bottom: 40px;
}
.subscription h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.subscription ol li{
  font-size: 24px;
  font-weight: 500;
}

.order h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.order p{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}

.payment{
  margin-bottom: 40px;
}
.payment h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.payment p{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}
.payment span{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  display: inline-block;
}

.delivery {
  margin-bottom: 40px;
}
.delivery h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.delivery ol li{
  font-size: 24px;
  font-weight: 500;
}

.legel-conditions{
  margin-bottom: 40px;
}
.legel-conditions h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.legel-conditions p{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}
.legel-conditions span{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  display: inline-block;
}
.legel-conditions a{
  text-decoration: none;
  word-break: break-word;
}

/* 
responsive */
@media (max-width: 768px) { /* Mobile devices */
  .terms-about h2,
  .acceptance-of-the-terms h2,
  .use-of-website h2,
  .privacy-policy h2,
  .subscription h2,
  .order h2,
  .payment h2,
  .delivery h2,
  .legel-conditions h2 {
    font-size: 24px;
  }

  .terms-about-p1,
  .terms-about-p2,
  .terms-about ul li,
  .acceptance-of-the-terms p,
  .use-of-website p,
  .privacy-policy p,
  .subscription ol li,
  .order p,
  .payment p,
  .payment span,
  .delivery ol li,
  .legel-conditions p,
  .legel-conditions span {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}